# 1. Lists
- what are lists?
- lists vs arrays
- characterstics of a list
- how to create a list
- access items from a list
- editing items in a lists
- deleting items from a list
- operations on lists
- functions on lists

## What are lists?

list are data type where you can store multiple items under 1 name. more technically, lists act like dynamic arrays which means you can add more items on the fly.

## Array vs lists
- fixed vs dyanmic size
- convenience -> heterogenous
- speed of execution
- memory

In [ ]:
L = [1,2,3]
print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

139310390807872
10750856
10750888
10750920
10750856
10750888
10750920

In [ ]:
print([1,2,3,4])
print(list('hello'))

[1, 2, 3, 4]
['h', 'e', 'l', 'l', 'o']

In [ ]:
# indexing of lists
# positive indexing
L = [1,2,3,4]
print(L[0])
print(L[1])
print(L[2])
print(L[-1]) # negative indexing
L = [[[1,2],[3,4],[5,6]]]
# to print 4
print(L[0][1][1])

1
2
3
4
4

# Adding items to the lists

In [ ]:
# append
L = [1,2,3,4,5]
L.append(6)
print(L)
# we can append any data type

[1, 2, 3, 4, 5, 6]

In [ ]:
# extend
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)
# extend will break the items

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# insert
# it add at your desire position
L = [1,2,3,4,5]
L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

# editing items on lists

In [ ]:
L = [1,2,3,4,5]
L[-1] = 500
print(L)

[1, 2, 3, 4, 500]

In [ ]:
L = [1,2,3,4,5]
L[1:4] = [200,300,400]
print(L)

[1, 200, 300, 400, 5]

# deleting items on list

In [ ]:
L = [1,2,3,4,5]
del L[0]
print(L)

[2, 3, 4, 5]

In [ ]:
L = [1,2,3,4,5]
del L[1:3]
print(L)

[1, 4, 5]

In [ ]:
# remove
L = [1,2,3,4,5]
L.remove(5)
# here you can delete by naming the value
print(L)

[1, 2, 3, 4]

In [ ]:
# pop
L = [1,2,3,4,5]

L.pop(0)

print(L)

[2, 3, 4, 5]

In [ ]:
# clear
L = [1,2,3,4,5]
L.clear()
print(L)

[]

# Operations on lists
- arithmetic
- membership
- loop

In [ ]:
# arithmetic (+,*)
L1 = [1,2,3,4]
L2 = [5,6,7,8]
print(L1+L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# membership
L1 = [1,2,3,4]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print(5 in L2)

True
False

In [ ]:
# loops
L1 = [1,2,3,4]
L2 = [1,2,3,4,[5,6]]

for i in L1:
  print(i)

for i in L2:
  print(i)

1
2
3
4
1
2
3
4
[5, 6]

# List functions

In [ ]:
#len/min/max/sorted
L1 = [1,3,2,4]
print(len(L1))
print(min(L1))
print(max(L1))
print(sorted(L1))

4
1
4
[1, 2, 3, 4]

In [ ]:
# count
L = [1,2,3,1,13,1,1,3,4]
L.count(1)

4

In [ ]:
# index
L = [1,2,3,1,13,1,1,3,4]
L.index(1)

0

In [ ]:
L1 = [1,2,3,4]
L1.reverse()
print(L1)

[4, 3, 2, 1]

In [ ]:
# sort
L = [1,2,3,1,13,1,1,3,4]
L.sort()
print(L)

[1, 1, 1, 1, 2, 3, 3, 4, 13]

In [ ]:
# copy
L1 = [1,2,3,4]
L2 = L1.copy()
print(L2)

[1, 2, 3, 4]

# List comprehension

In [ ]:
#newlist = [expression 'for' item 'in' iterable 'if' condition == 'True']

In [ ]:
#Add 1 to 10 numbers to a list
L = []
for i in range(1,11):
  L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
v = [2,3,4]
s = -3
# [-6,-9,-12]

x = []
for i in v:
  x.append(i*s)
print(x)
print(v*s)

[-6, -9, -12]
[]

In [ ]:
# add squares
L = [1,2,3,4]
[i**2 for i in L]

[1, 4, 9, 16]

In [ ]:
# print all the numbers divisible by 5 in the range of 1 to 50
[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']
[i for i in languages if i.startswith('p')]

['python', 'php']

In [ ]:
# nested if with list comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']
# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[i for i in my_fruits if i in basket if i.startswith('a')]

['apple']

In [ ]:
# print a (3,3) matrix using list comprehension -> nested list comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products -> list comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]
[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

# 2 ways to traverse a list

In [ ]:
# itemwise
L = [1,2,3,4]
for i in L:
  print(i)

1
2
3
4

In [ ]:
# indexwise
L = [1,2,3,4]
for i in range(0,len(L)):
  print(L[i])

1
2
3
4

In [ ]:
# write a program to add items of 2 lists indexwise
L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))
[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]