# Tuples

In [ ]:
# create a tuple with a single item
t2 = ('a',)
print(t2)
# homogenous tuple
t1 = (1,2,3,4)
print(t1)

('a',)
(1, 2, 3, 4)

In [ ]:
# indexing
t3 = ('a','b','c','d')
print(t3[0])
print(t3[-1])
print(t3[::-1])

a
d
('d', 'c', 'b', 'a')

In [ ]:
# editing tuples
t3 = (1,2,3,4)
print(t3)
t3[0] = 10
print(t3)
# tuples are immutable

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# adding items
# you cannot add items in tuples just like lists

In [ ]:
# deleting
# you can delete whole not a part of it

In [ ]:
# operations on tuples
# + and *
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)
print(t1*3)

# membership
print(1 in t1)

# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
1
2
3

In [ ]:
# tuples function
# len/sum/min/max
t1 = (1,2,3,4)
print(len(t1))
print(sum(t1))
print(min(t1))
print(max(t1))
print(sorted(t1))

4
10
1
4
[1, 2, 3, 4]

In [ ]:
# count
print(t1.count(2))
print(t1.index(2)) # tells the position

1
1

In [ ]:
# special syntax
# tuples unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4,5,6)
print(a,b,others)
print(others)
print(type(others))

1 2 [3, 4, 5, 6]
[3, 4, 5, 6]
<class 'list'>

In [ ]:
# zipping tuples
l1 = [1,2,3]
l2 = [4,5,6]
print(tuple(zip(l1,l2)))
print(list(zip(l1,l2)))

((1, 4), (2, 5), (3, 6))
[(1, 4), (2, 5), (3, 6)]

# Sets

In [ ]:
# unordered,mutable,no duplicates,can't contain mutuable data types

In [ ]:
# creating sets
s1 = {1,2,3,4}
print(type(s1))
print(s1)
s4 = set([1,2,3,4])
print(s4)
s5 = set((1,2,3,4))
print(s5)

<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}
print(s1==s2)

True

In [ ]:
# accessing items
s1 = {1,2,3,4}
print(s1[0])
print(s1[0] = 100)
# means no indexing and slicing

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-37-4024c48c3493>, line 4)

In [ ]:
# adding and deleting items
s = {1,2,3,4}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [ ]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
# update
s.update([6,7,8])
print(s)

{1, 2, 3, 6, 7, 8}

In [ ]:
s = {1,2,3,4}
del (s)
print(s)

NameError: name 's' is not defined

In [ ]:
s = {1,2,3,4,5}
s.discard(4)
print(s)

{1, 2, 3, 5}

In [ ]:
s.pop()
# delete any random item

1

In [ ]:
s.clear()
print(s)

set()

In [ ]:
# operations on sets
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# union
print(s1 | s2)
print(s1.union(s2))
# intersection
print(s1 & s2)
print(s1.intersection(s2))
#difference
print(s1 - s2)
print(s1.difference(s2))
# symmetric difference
print(s1^s2)
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [ ]:
#functions
#len/sum/min/max/sorted
s = {1,2,3,4}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted((s),reverse=True))

4
10
1
4
[4, 3, 2, 1]

In [ ]:
#isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 ={5,6,8,9}

print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))

True
False
False

In [ ]:
# frozenset
# its just a immutable version of python set
# same differences between lists and tuples
fs = frozenset([1,2,3,4])
print(fs)

frozenset({1, 2, 3, 4})

In [ ]:
fs = frozenset([1,2,frozenset([3,4])])
fs
# 2d frozenset are possible

frozenset({1, 2, frozenset({3, 4})})

In [ ]:
#set comprehension
{i for i in range(1,10)}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
{s**2 for s in range(1,20) if s>5}

{36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361}

# Dictionary

In [ ]:
i = {'name':'kushagra','age':22,'gender':'male'}
i

{'name': 'kushagra', 'age': 22, 'gender': 'male'}

In [ ]:
# accessing items
i = {'name':'kushagra','age':22,'gender':'male'}
i['name']

'kushagra'

In [ ]:
# adding key value
i = {'name':'kushagra','age':22,'gender':'male'}
i['height'] = 6
i['weight'] = 72
i

{'name': 'kushagra', 'age': 22, 'gender': 'male', 'height': 6, 'weight': 72}

In [ ]:
# remove key value
# pop,popitem,del,clear

In [ ]:
i = {'name':'kushagra','age':22,'gender':'male'}
i.pop('age')
print(i)

{'name': 'kushagra', 'gender': 'male'}

In [ ]:
i = {'name':'kushagra','age':22,'gender':'male'}
i.popitem()
print(i)
#remove last item

{'name': 'kushagra', 'age': 22}

In [ ]:
# editing key value pair
i = {'name':'kushagra','age':22,'gender':'male'}
i['name'] = 'chotu'
i

{'name': 'chotu', 'age': 22, 'gender': 'male'}

In [ ]:
# dictionary operation
# membership and iteration
i = {'name':'kushagra','age':22,'gender':'male'}
'kushagra' in i # false
'name' in i

True

In [ ]:
d = {'name':'kushagra','age':22,'gender':'male'}
for i in d:
  print(i,d[i])

name kushagra
age 22
gender male

In [ ]:
# dictionary functions
#all same as len,sorted,max,min

In [ ]:
#items
print(d.items())
#keys
print(d.keys())
#values
print(d.values())

dict_items([('name', 'kushagra'), ('age', 22), ('gender', 'male')])
dict_keys(['name', 'age', 'gender'])
dict_values(['kushagra', 22, 'male'])

In [ ]:
# update
d1 = {'name':'kushagra','age':22,'gender':'male'}
d2 = {'age':6,'name':'chotu'}
d1.update(d2)
print(d1)

{'name': 'chotu', 'age': 6, 'gender': 'male'}

In [ ]:
# DICTIONARY COMPREHENSION
# {key : value for vars in iterable}
# print 1st 10 numbers and thier squares
{ i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# using existing dict
d = {'delhi':1000,'mumbai':2000,'banglore':3000}
{key:value*2 for (key,value) in d.items()}

{'delhi': 2000, 'mumbai': 4000, 'banglore': 6000}

In [ ]:
#using zip
days = ['sun','mon','tue']
temp = [30,40,50]
{key:value for (key,value) in zip(days,temp)}

{'sun': 30, 'mon': 40, 'tue': 50}

In [ ]:
# using if
products = {'phone':10,'laptop':0,'charger':30,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 30}

In [ ]:
# nested comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}